
#friends-display-link {
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 15px 0px;
    font-size: 18px;
    margin-top: -10px;
    margin-bottom: 30px;
}

#friends-display-link i{
    color: rgba(0,0,0,0.3);
    margin-right: 10px;
}

.friends__screen {
    padding: 0px var(--horizontal-space);
}

.friends-screen_channel-header {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    border-top: var(--main-border);
    padding-top: 20px;
    color: rgba(0,0,0,0.3);
    font-weight: 700;
}

@keyframes hideSplashScreen {
    from {
        opacity:1;
    }
    to {
        opacity:0;
        visibility:hidden;
    }
}

#splash-screen {
    background-color: var(--kokoa-yellow);
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    display:flex; 
    justify-content: center;
    align-items: center;
    font-size: 128px;
    animation: hideSplashScreen 0.3s ease-in-out forwards;
    animation-delay: 0.7s;
}