
.user-component{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    width: 100%;
}

.chats__user-component{
    margin-bottom: 15px;
    box-sizing:border-box;
}

/* 홀수 번째 .user-component__column은 프로필 사진과 이름, subtitle 등이 존재하는 부분 */
.user-component__column:nth-child(2n+1) {
    display:flex;
}
/* 짝수 번째 .user-component__column은 페이지에 따라 아이콘, 시간, 메세지 갯수 등이 나오는 부분 */
.chats__user-component .user-component__column:nth-child(2n) {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    color: rgba(0,0,0,0.3);
    box-sizing:border-box;
}

.user-component__avatar {
    width: 70px;
    height: 70px;
    border-radius: 30%;
    margin-right: 20px;
}

.user-component__title {
    padding-top:10px;
    font-weight: 600;
    font-size: 23px;
    margin-bottom:6px;
}
.user-component__subtitle {
    font-size: 18px;
    margin-top: 10px;
    color: rgba(0,0,0,0.3)
}

.user-component__avatar--xl {
    width: 80px;
    height: 80px;
}

.user-component__avatar--sm {
    width: 65px;
    height: 65px;
}

.user-component__title--notbold {
    font-weight: normal;
}

.user-component__time {
    display: block;
    margin-bottom: 5px
}

.user-component__subtitle span {
    color: red;
}
